/*  =========================================================================
    Media
    ========================================================================= */

figure {
    margin: 1em 0;
}
figure > figcaption {
    font-size: 80%;
    margin-top: .5em;
    font-family: font-stack(caption);
    color: palette(tint, dark);
}
figure > img,
figure > picture {
    display: block;
    width: 100%;
}
