/*  =========================================================================
    Media
    ========================================================================= */

figure {
    margin: 1em (-(layout(gutter)));
}
figure > figcaption {
    font-size: 80%;
    margin-top: .5em;
    margin-left: layout(gutter);
    color: palette(tint, dark);
}
figure > img,
figure > picture {
    display: block;
    width: 100%;
}
