@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local(""),
    url("./fonts/playfair-display-v37-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-600italic.woff2") format("woff2");
}

:root {
  --site-color-text: #333344;
  --site-color-text-heading: #444455;
  --site-color-background: #fafafa;
  --site-color-tint: #b60000;
  --site-colour-link-text: #b60000;
  --site-colour-link-background: #fcc;
  --site-colour-link-border: #fcc;
  --site-colour-link-hover-text: #500000;
  --site-colour-link-hover-border: #500000;
  --site-colour-profile-border: white;
  --site-colour-profile-outline: #fcc;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --site-color-text: #fafafa;
    --site-color-text-heading: #fafafa;
    --site-color-background: #444455;
    --site-color-tint: #421919;
    --site-colour-link-text: #fcc;
    --site-colour-link-background: #421919;
    --site-colour-link-border: #421919;
    --site-colour-link-hover-text: #fafafa;
    --site-colour-link-hover-border: #fafafa;
    --site-colour-profile-border: white;
    --site-colour-profile-border: black;
    --site-colour-profile-outline: #fcc;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  border-top: 10px solid var(--site-color-tint);
  font-family: "Source Sans 3", sans-serif;
}

body {
  color: var(--site-color-text);
  background-color: var(--site-color-background);
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  color: var(--site-color-text-heading);
  font-weight: 800;
  line-height: 1.5;
  margin: 0 0 0.3em 0;
  text-wrap: pretty;
}

h1 {
  font-size: 32px;
  margin-bottom: 0.75em;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  text-transform: uppercase;
}

p,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 0.75em;
}

strong {
  font-weight: 600;
}

a {
  font-weight: 600;
  text-decoration: none;
  line-height: inherit;
  text-decoration: none;
  padding: 0 3px;
  color: var(--site-colour-link-text);
  background: var(--site-colour-link-background);
  border-bottom: 2px solid var(--site-colour-link-border);
}

a:hover,
a:active {
  cursor: pointer;
  color: var(--site-colour-link-hover-text);
  border-color: var(--site-colour-link-hover-border);
}

/*  =========================================================================
    Layout
    ========================================================================= */

main {
  padding: 40px 0;
}

.profile-img {
  border: 1px solid var(--site-colour-profile-border);
  outline: 5px solid var(--site-colour-profile-outline);
  margin-bottom: 1em;
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
    align-items: flex-start;
  }
  .content__bio {
    flex: 1;
  }
  .content__profile {
    margin: 5px 25px 0 0;
  }
}
