@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    local(""),
    url("./fonts/playfair-display-v37-latin-700.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-italic.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-600.woff2") format("woff2");
}

@font-face {
  font-family: "Source Sans 3";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src:
    local(""),
    url("./fonts/source-sans-3-v15-latin-600italic.woff2") format("woff2");
}

:root {
  --site-color-text: #333344;
  --site-color-text-heading: #444455;
  --site-color-background: #fafafa;
  --site-color-tint: #b60000;
  --site-colour-link-text: #b60000;
  --site-colour-profile-border: white;
  --site-colour-profile-outline: #fcc;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --site-color-text: #fafafa;
    --site-color-text-heading: #fafafa;
    --site-color-background: #444455;
    --site-color-tint: rgb(0 0 0 / 25%);
    --site-colour-link-text: #fcc;
    --site-colour-profile-border: white;
    --site-colour-profile-border: black;
    --site-colour-profile-outline: #fcc;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  font-size: clamp(16px, 3vw, 18px);
  line-height: 1.5;
  border-top: 12px solid var(--site-color-tint);
  font-family: "Source Sans 3", sans-serif;
}

body {
  color: var(--site-color-text);
  background-color: var(--site-color-background);
  max-width: 720px;
  width: 90%;
  margin: 0 auto;
}

main {
  padding: 10% 0;
}

h1 {
  font-size: clamp(28px, 4vw, 36px);
  font-family: "Playfair Display", serif;
  color: var(--site-color-text-heading);
  font-weight: 800;
  line-height: 1.5;
  margin: 0 0 0.75em 0;
  text-wrap: pretty;
}

strong {
  font-weight: 600;
}

a {
  font-weight: 600;
  text-decoration: none;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.1em;
  color: var(--site-colour-link-text);
}

a:hover,
a:active {
  cursor: pointer;
  color: var(--site-colour-link-hover-text);
}

.prose :is(p, ul, ol) {
  margin-top: 0;
  margin-bottom: 0.75em;
}

.profile-img {
  border: 1px solid var(--site-colour-profile-border);
  outline: 5px solid var(--site-colour-profile-outline);
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 20px;
}

.content__profile {
  flex-basis: 140px;
  flex-grow: 1;
}

.content__bio {
  flex-basis: 18rem;
  flex-grow: 999;
}
