//  -------------------------------------------------------- //
//  Variables
//  -------------------------------------------------------- //

$mq-breakpoints: (
    small: 30em,
    medium: 50em,
    large: 62.5em
);

$layout: (
    min: 0,
    max: 620px,
    gutter: 5%
);

$_color-primary: #b60000;
$palettes: (
    primary: (
        dark: shade($_color-primary, 50%),
        base: $_color-primary,
        light: tint($_color-primary, 50%)
    ),
    tint: (
        dark: #6a6a6a,
        base: #bababa,
        light: #fafafa
    ),
    text: (
        dark: #181822,
        base: #333344,
        light: #444455
    ),
    background: (
        base: #efefef
    )
);

$font-stacks: (
    display: '"ff-meta-web-pro-condensed", sans-serif',
    body: '"ff-meta-web-pro", sans-serif',
    caption: 'sans-serif',
    mono: '"Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace'
);
