/*  ========================================================================== */
/*  @group Layout */
/*  ========================================================================== */

    .l-constrained {
        @include clearfix;
        width: 100% - ( layout(gutter) * 2 );
        min-width: layout(min);
        max-width: layout(max);
        margin: 0 auto;
    }

/*  ========================================================================== */
/*  @group Layout - Common */
/*  ========================================================================== */

    html {
        height: 100%;
        border-top: 10px solid palette(primary);
    }

    .main {
        margin-bottom: 3em;
    }
