/* ==========================================================================
   Base
   ========================================================================== */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    font-size: 100%;
    line-height: 1.6;
    border-top: 10px solid palette(primary);
}
html.wf-ffmetawebpro-n4-active {
    font-size: 105%;
    line-height: 1.5;
}

body {
    color: palette(text);
    background-color: palette(background);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main {
   flex: 1;
   margin-bottom: 2em;
}

/* ==========================================================================
   Typography
   ========================================================================== */

html, body, button, input, select, textarea, .ff-body {
    font-family: font-stack(body);
}

h1, h2, h3, h4, h5, h6, .ff-display {
    font-family: font-stack(display);
}

.ff-caption {
    font-family: font-stack(caption);
}

pre, code, kbd, samp, .ff-mono {
    font-family: font-stack(mono);
}

h1 { font-size: rem( 24 ); }
h2 { font-size: rem( 22 ); }
h3 { font-size: rem( 20 ); }
h4 { font-size: rem( 18 ); }
h5 { font-size: rem( 16 ); }
h6 { font-size: rem( 14 ); }

@include mq(small) {
    h1 { font-size: rem( 32 ); }
}

h1, h2, h3, h4, h5, h6 {
    color: palette(text, light);
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}
h1 {
    margin-top: 0;
}
h6 {
    text-transform: uppercase;
}

/*  =========================================================================
    Links
    http://developers.whatwg.org/links.html
    ========================================================================= */

a {
    color: palette(primary);
    font-weight: bold;
    text-decoration: none;
    word-wrap: break-word;
    line-height: inherit;
}
a:hover {
    color: palette(primary, dark);
    cursor: pointer;
}
a:hover, a:active {
    outline: 0;
}
a:focus {
    outline: thin dotted;
}

/*  =========================================================================
    Embedded content
    http://developers.whatwg.org/embedded-content-1
    ========================================================================= */

img {
    border: 0 none;
    vertical-align: middle;
}

/**
 * Fluid images
 */
img, picture, embed, object, video {
    max-width: 100%;
}

/**
 * Non-fluid images if you specify `width` and/or `height` attributes.
 */
img[width],
img[height] {
    max-width: none;
}

/*  =========================================================================
    Text-level semantics
    http://developers.whatwg.org/text-level-semantics.html
    ========================================================================= */

p, ul, ol, dl {
    margin-top: 0;
    margin-bottom: .75em;
}

ul {
    list-style: disc outside;
}
ol {
    list-style: decimal outside;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin: 0 0 1.5em 0;
}

blockquote {
    margin: 0;
}

abbr[title], dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}

/**
 * Position subscript and superscript content
 * without affecting line-height: h5bp.com/k
 */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

hr {
    display: block;
    border: 0;
    height: 0;
    line-height: 0;
    margin: 2em 0 1.5em;
    border-top: 1px solid palette(tint);
}
