/*  ========================================================================== */
/*  @group Base */
/*  ========================================================================== */

    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    html {
        font-size: 100%;
        line-height: 1.5;
    }

    body {
        color: palette(text);
        background-color: palette(background);
    }

/*  ========================================================================== */
/*  @group Base - Font Stacks */
/*  ========================================================================== */

    html, body, button, input, select, textarea, .ff-body {
        font-family: font-stack(body);
    }

    h1, h2, h3, h4, h5, h6, .ff-display {
        font-weight: bold;
        font-family: font-stack(display);
    }

    .ff-caption {
        font-family: font-stack(caption);
    }

    pre, code, kbd, samp, .ff-mono {
        font-family: font-stack(mono);
    }

/*  ========================================================================== */
/*  @group Base - Headings */
/*  ========================================================================== */

    h1 { font-size: rem( 28 ); }
    h2 { font-size: rem( 24 ); }
    h3 { font-size: rem( 21 ); }
    h4 { font-size: rem( 18 ); }
    h5 { font-size: rem( 16 ); }
    h6 { font-size: rem( 14 ); }

    @include mq(small) {
        h1 { font-size: rem( 32 ); }
        h2 { font-size: rem( 28 ); }
    }

    h1, h2, h3, h4, h5, h6 {
        color: palette(text, dark);
        font-weight: normal;
        line-height: 1.1;
        margin: 1em 0 .5em;
    }
    h1 {
        margin-top: 0;
        font-weight: 800;
    }
    h6 {
        text-transform: uppercase;
    }

/*  ========================================================================== */
/*  @group Base - Links */
/*  ========================================================================== */

    a {
        font-weight: bold;
        text-decoration: none;
        word-wrap: break-word;
        line-height: inherit;
    }
    a:focus { outline: thin dotted; }
    a:hover { cursor: pointer; }
    a:hover, a:active { outline: 0; }

    a { color: palette(primary); }
    a:visited { color: palette(primary, light); }
    a:active { color: palette(primary); }
    a:hover { color: palette(primary); }

/*  ========================================================================== */
/*  @group Base - Text level elements */
/*  ========================================================================== */

    p, ul, ol, dl {
        margin-top: 0;
        margin-bottom: .75em;
    }

    ul {
        list-style: disc outside;
    }
    ol {
        list-style: decimal outside;
    }
    dl dt {
        font-weight: bold;
    }
    dl dd {
        margin: 0 0 1.5em 0;
    }

    blockquote {
        margin: 0;
    }

    abbr[title], dfn[title] {
        cursor: help;
        border-bottom: 1px dotted;
    }

    /**
     * Position subscript and superscript content
     * without affecting line-height: h5bp.com/k
     */
    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
