/*  ========================================================================== */
/*  @group Base */
/*  ========================================================================== */

    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    html {
        font-size: 100%;
        line-height: 1.5;
    }

    body {
        color: $color-text;
        background-color: $color-background;
    }

/*  ========================================================================== */
/*  @group Base - Font Stacks */
/*  ========================================================================== */

    html, body, button, input, select, textarea, .ff-body {
        font-family: $typography-body;
    }

    h1, h2, h3, h4, h5, h6, .ff-display {
        font-weight: bold;
        font-family: $typography-display;
    }

    .ff-caption {
        font-family: $typography-caption;
    }

    pre, code, kbd, samp, .ff-mono {
        font-family: $typography-monospace;
    }

/*  ========================================================================== */
/*  @group Base - Headings */
/*  ========================================================================== */

    h1 { @include font-size( 28 ); }
    h2 { @include font-size( 24 ); }
    h3 { @include font-size( 21 ); }
    h4 { @include font-size( 18 ); }
    h5 { @include font-size( 16 ); }
    h6 { @include font-size( 14 ); }

    @include mq(small) {
        h1 { @include font-size( 32 ); }
        h2 { @include font-size( 28 ); }
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.1;
        margin: 1em 0 .5em;
        color: $color-text-headers;
        font-weight: $font-weight-display-normal;
        strong { color: lighten( $color-text-headers, 10% ); }
    }
    h1 {
        margin-top: 0;
        font-weight: $font-weight-display-bold;
    }
    h6 {
        text-transform: uppercase;
    }

/*  ========================================================================== */
/*  @group Base - Links */
/*  ========================================================================== */

    a {
        font-weight: bold;
        text-decoration: none;
        word-wrap: break-word;
        line-height: inherit;
    }
    a:focus { outline: thin dotted; }
    a:hover { cursor: pointer; }
    a:hover, a:active { outline: 0; }

    a { color: $color-link; }
    a:visited { color: $color-link-visited; }
    a:active { color: $color-link-active; }
    a:hover { color: $color-link-hover; }

/*  ========================================================================== */
/*  @group Base - Text level elements */
/*  ========================================================================== */

    p, ul, ol, dl {
        margin-top: 0;
        margin-bottom: .75em;
    }

    ul {
        list-style: disc outside;
    }
    ol {
        list-style: decimal outside;
    }
    dl dt {
        font-weight: bold;
    }
    dl dd {
        margin: 0 0 1.5em 0;
    }

    blockquote {
        margin: 0;
    }

    abbr[title], dfn[title] {
        cursor: help;
        border-bottom: 1px dotted;
    }

    /**
     * Position subscript and superscript content
     * without affecting line-height: h5bp.com/k
     */
    sub, sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }
