<div class="entry entry--micro" itemscope itemtype="http://schema.org/Article">
    <span class="entry__meta">
        <time datetime="{{ post.date | date: "%F %R%z" }}" itemprop="dateCreated">
            {{ post.date | date: "%b %-d, %Y" }}
        </time>
    </span>
    <h2 class="entry__title entry__title--external text--title" itemprop="headline">
        <a href="{{ post.link }}">
            {{ post.title }}
        </a>
    </h2>
    <div class="entry__content" itemprop="description">
        {{ post.content }}
    </div>
</div>
