<footer class="global-footer l-constrained" role="contentinfo">
    <ul class="nav-trail">
        <li class="nav-trail__item"><a href="http://github.com/{{ site.github_username }}/">GitHub</a></li>
        <li class="nav-trail__item"><a href="http://twitter.com/{{ site.twitter_username }}/">Twitter</a></li>
        <li class="nav-trail__item"><a href="{{ site.baseurl }}/colophon.html">Colophon</a></li>
    </ul>
</footer>

<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-56926844-1','auto');ga('send','pageview');
</script>

<script>
(function() {
    var codeEls = document.querySelectorAll('.article__body pre');
    if ( codeEls.length ) {
        loadCSS('//{{ site.cdn_url }}/{{ site.data.assets.version }}/css/pygments.min.css');
    };
}());
</script>
