<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "static/touch-icons/apple-touch-icon-144x144-precomposed.png" }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "static/touch-iconsapple-touch-icon-114x114-precomposed.png" }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "static/touch-icons/apple-touch-icon-72x72-precomposed.png" }}">
    <link rel="apple-touch-icon-precomposed" href="{{ "/static/touch-icons/apple-touch-icon-precomposed.png" }}">
    <link rel="icon" type="image/x-icon" href="{{"/static/touch-icons/favicon.ico" }}" />

    {% if site.env == 'production' %}
        <style>
            {% include head.min.css %}
        </style>
        <noscript>
            <link rel="stylesheet" href="//{{ site.cdn_url }}/{{ site.data.assets.version }}/css/style.min.css">
        </noscript>
    {% else %}
        <link rel="stylesheet" href="/static/css/style.min.css">
    {% endif %}
    <script>
        // loadCSS
        function loadCSS(a,b,c){"use strict";function g(){for(var b,e=0;e<f.length;e++)f[e].href&&f[e].href.indexOf(a)>-1&&(b=!0);b?d.media=c||"all":setTimeout(g)}var d=window.document.createElement("link"),e=b||window.document.getElementsByTagName("script")[0],f=window.document.styleSheets;return d.rel="stylesheet",d.href=a,d.media="only x",e.parentNode.insertBefore(d,e),g(),d};

        // markUserTime
        !function(){var a="undefined"!=typeof window?window:exports,b=[];if(a.performance||(a.performance={}),a.performance.now||(a.performance.now=performance.now||performance.webkitNow||performance.msNow||performance.mozNow),!a.performance.now){var c=Date.now?Date.now():+new Date;performance.timing&&performance.timing&&(c=performance.timing.navigationStart),a.performance.now=function(){var a=Date.now?Date.now():+new Date;return a-c}}a.performance.mark||(a.performance.mark=a.performance.webkitMark?a.performance.webkitMark:function(c){b.push({name:c,entryType:"mark",startTime:a.performance.now(),duration:0})}),a.performance.getEntriesByType||(a.performance.getEntriesByType=a.performance.webkitGetEntriesByType?a.performance.webkitGetEntriesByType:function(a){return"mark"==a?b:void 0})}(),window.markUserTime=function(a){var b=window.requestAnimationFrame||function(a){setTimeout(a,0)};b(function(){window.performance.mark(a),window.console&&console.timeStamp&&console.timeStamp(a)})};
    </script>

    {% if site.env == 'production' %}
    <script>
        (function(global) {

            var cssURL = '//{{ site.cdn_url }}/{{ site.data.assets.version }}/css/style.min.css';

            function cutsMustard() {
                return ('querySelector' in document
                    && 'localStorage' in window
                    && 'addEventListener' in window
                    && 'withCredentials' in new XMLHttpRequest());
            }
            function loadCssFromStorage() {
                var c = localStorage.getItem('css.{{ site.data.assets.style.hash }}'), s, head;
                if ( c ) {
                    s = document.createElement('style');
                    head = document.getElementsByTagName('head')[0];
                    s.innerHTML = c;
                    s.setAttribute('data-loaded-from', 'local');
                    head.appendChild(s);
                    global.cssLoaded = true;
                }
            }
            loadCssFromStorage();

            if ( global.cssLoaded ) { return false; }

            function injectElement(e) {
                var head = document.getElementsByTagName('head')[0];
                head.appendChild(e);
            }
            function inlineCss(c) {
                var s = document.createElement('style');
                s.innerHTML = c;
                s.setAttribute('data-loaded-from', 'ajax');
                injectElement(s);
            }
            function storeCss(c) {
                Object.keys(localStorage).forEach(function(key) {
                    if (key.match(/^css./g)) { localStorage.removeItem(key); }
                });
                try {
                    localStorage.setItem('css.{{ site.data.assets.style.hash }}', c);
                } catch(e) {}
            }
            function loadCssWithLink( url ) {
                var l = document.createElement('link');
                l.rel = "stylesheet"; l.type = 'text/css';
                l.href = url;
                injectElement(l);
            }
            function loadCssWithAjax( url ) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if(xhr.status === 200) {
                            inlineCss(xhr.responseText);
                            storeCss(xhr.responseText);
                        } else {
                            loadCssWithLink( cssURL );
                        };
                    }
                }
                xhr.timeout = 5000;
                xhr.send();
            }
            if( cutsMustard() ) {
                loadCssWithAjax( cssURL );
            } else {
                loadCssWithLink( cssURL );
            }
        }(this));
    </script>
    {% endif %}
    <script type="text/javascript" src="//use.typekit.net/zlj6ifj.js" onload="try{Typekit.load();}catch(e){}" async></script>
    <script>window.markUserTime('Head')</script>
</head>
