/*  ========================================================================== */
/*  @group Asides */
/*  ========================================================================== */

.aside {
    background-color: palette(tint, light);
    margin-bottom: 1em;
    padding: 1em 1em .5em 1em;
    font-family: font-stack(body);
}
.aside__header {
    margin-bottom: 1em;
}
.aside__title {
    font-family: inherit;
}
