/*  ========================================================================== */
/*  @group Media */
/*  ========================================================================== */

    img {
        border: 0 none;
        vertical-align: middle;
    }

    /**
     * Fluid images
     */
    img, picture, embed, object, video {
        max-width: 100%;
    }

    /**
     * Non-fluid images if you specify `width` and/or `height` attributes.
     */
    img[width],
    img[height] {
        max-width: none;
    }

    /**
     * Figures
     */
    figure {
        background: $color-tint-light;
        padding: 1em $layout-gutter;
        margin: 1em 0;

        width: 100% + ( $layout-gutter * 2 );
        margin-left: -($layout-gutter);
    }
    figure > figcaption {
        color: $color-tint-dark;
        margin-top: .5em;
        font-size: 80%;
        font-family: $typography-caption;
    }
    figure > img,
    figure > picture {
        display: block;
        width: 100%;
    }

    /**
     * Lazyloadable images
     */
    .js img.lazyload {
        opacity: 0;
        transition: opacity ease-out 1s;
    }
    .js img.is-loaded {
        opacity: 1;
    }
