/*  ========================================================================== */
/*  @group Utilities */
/*  ========================================================================== */

/*  ========================================================================== */
/*  @group Utilities - Text */
/*  ========================================================================== */

    .u-text-lead {
        font-size: 120%;
        line-height: 1.333;
        font-weight: 300;
        margin-bottom: 1em;
    }
    .u-text-title {
        margin-top: 0;
    }

/*  ========================================================================== */
/*  @group Utilities - Links */
/*  ========================================================================== */

    .u-link-forward,
    .u-link-backward {
        font-weight: bold;
    }
    .u-link-forward:after {
        content: '\2192';
    }
    .u-link-backward:before {
        content: '\2190';
    }
    .u-link-block {
        font-weight: inherit;
        display: block;
        height: 100%;
    }

/*  ========================================================================== */
/*  @group Utilities - Lists */
/*  ========================================================================== */

    .u-list-unstyled {
        list-style: none;
        padding-left: 0;
    }
