/*  ========================================================================== */
/*  @group Global Footer */
/*  ========================================================================== */

    .global-footer {
        padding-top: .5em;
        margin-top: 20px;
        margin-bottom: 30px;
        border-top: 1px solid palette(tint);
    }
