/* ==========================================================================
   Utilities: Layout
   ========================================================================== */

.u-container {
    @include clearfix;
    width: 100% - ( layout(gutter) * 2 );
    min-width: layout(min);
    margin: 0 auto;

    @include mq(medium) {
        max-width: layout(max);
    }
}

.u-full-width {
    width: 100% !important;
}

/**
 * Responsive helpers
 */
.u-desktop, .u-tablet { display: none; }
.u-mobile { display: block }

@include mq(small) {
    .u-desktop, .u-mobile { display: none; }
    .u-tablet { display: block }
}

@include mq(medium) {
    .u-tablet, .u-mobile { display: none; }
    .u-desktop { display: block }
}
