/* ==========================================================================
   Utilities: Text
   ========================================================================== */

.u-link-forward,
.u-link-backward {
    font-weight: bold;
}
.u-link-forward:after {
    content: '\2192';
}
.u-link-backward:before {
    content: '\2190';
}
.u-link-block {
    font-weight: inherit;
    display: block;
    height: 100%;
}
.u-list-unstyled {
    list-style: none;
    padding-left: 0;
}
