//  -------------------------------------------------------- //
//  Mixins
//  -------------------------------------------------------- //

@mixin clearfix() {
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin font-size($pxSize, $baseFontSize: 16 ) {
    font-size: ($pxSize) + px;
    font-size: ($pxSize / $baseFontSize) + rem;
}
