//  -------------------------------------------------------- //
//  Variables
//  -------------------------------------------------------- //

//  -------------------------------------------------------- //
//  Layout
//  -------------------------------------------------------- //

    $mq-breakpoints: (
        small: 30em,
        medium: 48em,
        large: 62.5em
    );

    $layout: (
        min: 0,
        max: 680px,
        gutter: 3%
    );

//  -------------------------------------------------------- //
//  Colors
//  -------------------------------------------------------- //

    $_color-primary: #b60000;

    $palettes: (
        primary: (
            dark: shade($_color-primary, 50%),
            base: $_color-primary,
            light: tint($_color-primary, 50%)
        ),
        tint: (
            dark: #565656,
            base: #dddddd,
            light: #f8f8f8
        ),
        text: (
            dark: #222222,
            base: #444444,
            light: #595959
        ),
        background: (
            base: #ffffff
        )
    );

//  -------------------------------------------------------- //
//  Font Stacks
//  -------------------------------------------------------- //

    $font-stacks: (
        display: '"abril-titling-narrow", Times, "Times New Roman", Georgia, serif',
        body: '"soleil", sans-serif',
        caption: 'sans-serif',
        mono: '"Menlo", "Bitstream Vera Sans", Monaco, "Andale Mono", "Lucida Console", "Droid Mono", monospace'
    );
