/*  ========================================================================== */
/*  @group Global Header */
/*  ========================================================================== */

    .global-header {
        margin-bottom: 2em;
        background-color: palette(tint, light);
        border-bottom: 1px solid darken( palette(tint, light), 6% );
    }
