/*  ========================================================================== */
/*  @group Pagination */
/*  ========================================================================== */

    .pagination {
        clear: both;
        font-size: 0;
        margin: 1.5em 0;
        border: solid palette(tint);
        border-width: 1px 0 0 0;
    }
    .pagination__item {
        font-size: rem(16);
        font-family: font-stack(display);
        font-weight: normal;
        color: palette(tint);
        display: inline-block;
        padding: .5em 1em;
        border-top: 1px solid palette(tint);
        position: relative;
        top: -1px;
    }
    .pagination__link {
        font-weight: bold;
        color: palette(text);
    }
    .pagination__current {
        font-weight: bold;
        color: palette(primary);
        border-color: palette(primary);
    }
