/*  ========================================================================== */
/*  @group Articles */
/*  ========================================================================== */

/*  ========================================================================== */
/*  @group Articles - Summary */
/*  ========================================================================== */

    .article-summary {}
        .article-summary__meta {
            font-weight: @-font-weight-body-bold;
        }
        .article-summary__title {
            margin-top: 0;
        }

/*  ========================================================================== */
/*  @group Articles - Detail */
/*  ========================================================================== */

    .article {}
        .article__meta {
            margin-bottom: .3em;
            font-weight: bold;
        }
        .article__title {
            margin: 0 0 1em 0;
        }
