/*  =========================================================================
    Article Details
    ========================================================================= */

.article {
    @include clearfix;
}
.article__meta {
    margin-bottom: .3em;
}
.article__title {
    margin: 0 0 1em 0;
}
.article__lead {
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 1em;
}
