/*  =========================================================================
    Entries
    ========================================================================= */

/*  =========================================================================
    Entries: Listing
    ========================================================================= */

.entry-listing {
    list-style: none;
    padding-left: 0;
}
.entry-listing__item {
    margin-left: 0;
    margin-bottom: 20px;
}

/*  =========================================================================
    Entries: Single Entry
    ========================================================================= */

.entry {
    margin-bottom: 0;
}
.entry__meta {
    font-weight: bold;
}
.entry__title {
    font-size: rem(24);
    margin: 0 0 .5em 0;
}
.entry__description {
    color: palette(text, light);
}
