/*  =========================================================================
    Pagination
    ========================================================================= */

.pagination {
    clear: both;
    font-size: 0;
    margin: 1.5em 0;
    border: solid palette(tint);
    border-width: 1px 0 0 0;
}
.pagination__item {
    font-size: rem(16);
    font-family: font-stack(display);
    font-weight: normal;
    color: palette(tint);
    display: inline-block;
    padding: .5em 1em .7em;
    border-top: 1px solid palette(tint);
    position: relative;
    top: -1px;
}
.pagination__link {
    font-weight: bold;
    color: palette(text);
}
.pagination__link:hover {
    background-color: palette(tint, light);
}
.pagination__current,
.pagination__current:hover  {
    color: white;
    background-color: palette(primary);
    border-color: palette(primary);
    font-weight: bold;
}
