<article class="entry entry--summary">
    <header class="entry__header">
        <span class="entry__meta">
            <time datetime="{{ post.date | date: "%F %R%z" }}" itemprop="dateCreated">
                {{ post.date | date: "%b %-d, %Y" }}
            </time>
        </span>
        <h2 class="entry__title">
            <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url headline">
                {{ post.title }}
            </a>
        </h2>
    </header>
    <footer class="entry__content" itemprop="description">
        {{ post.description }}
    </footer>
</article>
