<script>
    // Add .js class, remove .no-js
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    {% include markUserTime.js %}
</script>
{% if site.env == 'production' %}
    <script>
    (function(global) {
        var cssURL = '{{ stylesheet_url }}';
        function cutsMustard() {
            return (
                'querySelector' in document &&
                'localStorage' in window &&
                'addEventListener' in window &&
                'withCredentials' in new XMLHttpRequest()
            );
        }
        function loadCssFromStorage() {
            var c = localStorage.getItem('css.{{ site.data.assets.style.hash }}'), s, head;
            if ( c ) {
                s = document.createElement('style');
                head = document.getElementsByTagName('head')[0];
                s.innerHTML = c;
                s.setAttribute('data-loaded-from', 'local');
                head.appendChild(s);
                global.cssLoaded = true;
            }
        }
        loadCssFromStorage();

        if ( global.cssLoaded ) { return false; }

        function injectElement(e) {
            var head = document.getElementsByTagName('head')[0];
            head.appendChild(e);
        }
        function inlineCss(c) {
            var s = document.createElement('style');
            s.innerHTML = c;
            s.setAttribute('data-loaded-from', 'ajax');
            injectElement(s);
        }
        function storeCss(c) {
            Object.keys(localStorage).forEach(function(key) {
                if (key.match(/^css./g)) { localStorage.removeItem(key); }
            });
            try {
                localStorage.setItem('css.{{ site.data.assets.style.hash }}', c);
            } catch(e) {}
        }
        function loadCssWithLink( url ) {
            var l = document.createElement('link');
            l.rel = "stylesheet"; l.type = 'text/css';
            l.href = url;
            injectElement(l);
        }
        function loadCssWithAjax( url ) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', url, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if(xhr.status === 200) {
                        inlineCss(xhr.responseText);
                        storeCss(xhr.responseText);
                    } else {
                        loadCssWithLink( cssURL );
                    };
                }
            }
            xhr.timeout = 5000;
            xhr.send();
        }
        if( cutsMustard() ) {
            loadCssWithAjax( cssURL );
        } else {
            loadCssWithLink( cssURL );
        }
    }(this));
    </script>
{% endif %}
<script type="text/javascript" src="//use.typekit.net/bem2aeh.js" onload="try{Typekit.load();}catch(e){}" async></script>
<script>window.markUserTime('aft.Head')</script>
