<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="manifest" href="manifest.json">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#b60000">

    <style>{% include style.css %}</style>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines }}"/>

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <script id="script-usertime">
        {% include markUserTime.js %}
    </script>
    <script id="script-typekit-cache">
        (function() {
            var tkCache = false;
            try { tkCache = window.sessionStorage.getItem('_tk_cache'); } catch (e) {}
            if (tkCache) {
                document.documentElement.classList.add('wf-active');
                var script = document.createElement('script');
                script.innerHTML = tkCache + ";(function () {var timeout = setTimeout(function () {document.documentElement.classList.remove('wf-active');}, 300); Typekit.load({ async: false, active: function () { clearTimeout(timeout); }});})();";
                document.head.appendChild(script);
            }
        }());

        window._tk_onload = function () {
            var req = new XMLHttpRequest()
            req.addEventListener("load", function () {
                try { window.sessionStorage.setItem('_tk_cache', this.responseText); } catch (e) {}
            });
            req.open("GET", "https://use.typekit.net/bem2aeh.js");
            req.send();
        };
    </script>
    <script async src="https://use.typekit.net/bem2aeh.js"
        onload="Typekit.load({ async: true, loading: window._tk_onload })"></script>

    <script id="script-sw">
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js');
        }
    </script>
    <script>window.markUserTime('aft.Head')</script>
</head>
