name: Continuous Integration
on: [push]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      - uses: bahmutov/npm-install@v1
      - run: npm test
      - run: npm run build
